<p>What are you grateful for today?</p> 

<p>Research shows that recording 3 gratitudes a day for 30 days can rewire your brain and make you happier and healthier. 
</p>

<p>Submit your daily gratitudes at <a href="http://gratefully.heroku.com">gratefully</a>.</p>
Olgas-MacBook-Pro:notifier olga$ more daily.email.html.erb 
What are you grateful for today? 

Research shows that recording 3 gratitudes a day for 30 days can rewire your brain and make you happier and healthier. 

Submit your daily gratitudes at http://gratefully.heroku.com.
