<p><b>Congratulations on 21 days of sharing!/b></p>

<p>Check out what others are grateful for (plus our new awesome theme): <a href="http://gratitude.is/valentine">gratitude.is/valentine</a></p>

<p>Happy Valentine's Day from us at Gratitude!</p>