<p>We are humbled and amazed by the <a href="http://gratitude.is/community">gratitudes</a> that have poured in!</p>

<p>You have collectively contributed almost 1,000 gratitudes so far... Keep going:<br/>
<a href="http://greatergood.berkeley.edu/article/item/tips_for_keeping_a_gratitude_journal">http://greatergood.berkeley.edu/article/item/tips_for_keeping_a_gratitude_journal</a></p>

<p>Love,</p>

<p>-Liz and Olga</p>