<p><b>Congrats on 21 days of sharing:</b> <a href="http://gratitude.is/community">gratitude.is/community</a></p>

<p>Happy Valentine's Day from us at Gratitude!</p>

<p>You can opt-out of daily reminders in your <a href="http://gratitude.is/users/edit">account settings</a>.</p>