<p>We are humbled and amazed by the gratitudes that have poured in!</p>

<p>We are almost up to 1,000 gratitudes now... Keep going:<br/>
http://greatergood.berkeley.edu/article/item/tips_for_keeping_a_gratitude_journal</p>

<p>Love,</p>

<p>-Liz and Olga</p>
