<p><b>Check out what others are grateful for on our community wall:</b> <a href="http://gratitude.is/community">gratitude.is/community</a></p>

<p>Don't forget to submit your daily gratitudes!</p>

<p>Research shows that recording 3 gratitudes a day for 3 weeks can rewire your brain and make you happier. </p>

<p>Please send us feedback and your ideas about how to improve the app - we'll be grateful.</p>

<p>You can opt-out of daily reminders in your <a href="http://gratitude.is/users/edit">account settings</a>.</p>