<%= form_for(@gratitude, :html => { :multipart => true }) do |f| %>

  <div class="field" >
    <div class="question"></div>
    <%= f.text_field :answer%>
    <%#= f.file_field :avatar %>
    <%= f.hidden_field :day_id, :value => @gratitude.day.id.to_s %>
    <%#= f.submit %>
  </div>

<% end %>

