ul.hmenu {
  list-style: none;
  text-align: right;
}

ul.bmenu {
  list-style: none;
  text-align: right;
  padding: 0px;
  padding-right: 15px;
  margin-top: 0px;
}

ul.gmenu {
  list-style: none;
  text-align: left;
  padding: 0px;
  padding-left: 10px;
  margin-top: 0px;
  font-family: 'Cabin Sketch', cursive;
  color: #666666;
  font-size: 20px;
  /*background: rgba(203, 226, 219, 0.5);*/
  margin: auto;
  position: relative;
  
}

ul.landing_menu {
  list-style: none;
  text-align: left;
  padding: 0px;
  padding-left: 10px;
  margin-top: 0px;
  font-family: 'Cabin Sketch', cursive;
  color: #666666;
  font-size: 20px;
  background: rgba(203, 226, 219, 0.5);
  width: 410px;
  margin: auto;
  position: relative;
}


ul.hmenu li {
  display: inline;
  text-align: center;
  line-height: 1em;
  font-size: 18px;
  font-family: 'Corben', cursive;
  padding-right: 15px;
}

ul.gmenu li {
  line-height: 90%;
  padding-bottom: 10px;
}

ul.bmenu li {
  display: inline;
  font-size: 18px;
  font-family: 'Corben', cursive;
  padding: 15px;
}

ul.bmenu a {
  text-decoration: none;
  color: #666666;
}

ul.hmenu li.logo {
 float: left;
  margin-left: -15px;
  padding-top: 5px;
}

ul.hmenu a {
  text-decoration: none;
  color: #a49d96;
}

#nav {
background-color: #ede9e4;
height: 30px;
width: 100%;
}

div.copy {
  width: 150px;
  float: left;
  padding-bottom: 0;
}

div.subnav {
  width: 300px;
  float: right;
  padding-bottom: 0;
}



/* content */
#content {
	z-index: 4;
	position: relative;
	max-width: 1024px;
	padding: 0 10px;
	margin: 0 auto;
	line-height: 1.7;
	}
	#content article {
		width: 300px;
		}
		#manned-flight ,
		#frameless-parachute,
		#english-channel,
		#about {
			padding-top: 105px;
			}
		#manned-flight {
			position: absolute;
			top: 0px;
			}
		#frameless-parachute {
			position: absolute;
			top: 1090px;
			}
		#english-channel {
			position: absolute;
			top: 2180px;
			}
			#content h1 {
				margin: 0 0 25px 0;
				font-size: 60px;
				font-family: Georgia, serif;
				font-weight: normal;
				line-height: 65px;
				}
		#about {
			position: absolute;
			top: 3270px;
			}
/* foreground (ballons/landscape) */
#parallax-bg3 {
	z-index: 3;
	position: fixed;
	left: 50%; /* align left edge with center of viewport */
	top: 0;
	width: 940px;
	margin-left: -470px; /* move left by half element's width */
	}
	/* balloon */
	#bg3-1 {
		position: absolute;
		top: 50px;
		}
	#bg3-2 {
		position: absolute;
		top: 805px;
		left: -85px;
		}
	#bg3-3 {
		position: absolute;
		top: 1000px;
		left: -85px;
		}
	#bg3-4 {
		position: absolute;
		top: 2000px;
		left: -85px;
		}
/* midground (clouds) */
#parallax-bg2 {
	z-index: 2;
	position: fixed;
	left: 50%; /* align left edge with center of viewport */
	top: 0;
	width: 1200px;
	margin-left: -600px; /* move left by half element's width */
	}
	#bg2-1 {
		position: absolute;
		top: 50px;
		left: 200px;
		}
	#bg2-2 {
		position: absolute;
		top: 300px;
		left: 950px;
		}
	#bg2-3 {
		position: absolute;
		top: 243px;
		left: -35px;
		}
	#bg2-4 {
		position: absolute;
		top: 180px;
		left: 250px;
		}
	#bg2-5 {
		position: absolute;
		top: 500px;
		left: 890px;
		}
/* background (clouds) */
#parallax-bg1 {
	z-index: 1;
	position: fixed;
	left: 50%; /* align left edge with center of viewport */
	top: 0;
	width: 1200px;
	margin-left: -600px; /* move left by half element's width */
	}
	#bg1-1 {
		position: absolute;
		top: 950px;
		left: 100px;
		}
	#bg1-2 {
		position: absolute;
		top: 440px;
		left: 795px;
		}
	#bg1-3 {
		position: absolute;
		top: 900px;
		left: -220px;
		}
	#bg1-4 {
		position: absolute;
		top: 1020px;
		left: 450px;
		}



