body {
  background: url('/images/bg_half.png') repeat top #cabfb1;
  text-align: center;
}

div.dashboard {
  min-height: 800px;
  background: url('/images/new_dash_rainbow2.png') no-repeat top;
  }
  
div.account_dashboard {
  min-height: 800px;
  background: url('/images/login_page_graphic.png') no-repeat top;
  margin-top: 10px;
  }
  
div.share {
  width: 420px;
  margin: auto;
  position: relative;
  text-align:right;
  padding-top: 25px;
  padding-right: 0px;
  float: right; 
}

div.account {
  background: rgba(255, 255, 255, 0.5);
  margin: auto;
  margin-top: 40px;
  position: relative;
  overflow: hidden;
  text-align: left;
}

div.account#dashboard {
  min-height: 450px;
  width: 455px;
  padding: 5px;
  padding-left: 40px;
  }
  
  div.account#login {
  min-height: 250px;
  width: 350px;
  padding-bottom: 20px;
  padding-left: 45px;
  margin-top: 210px;
  }
  
  div.account#forgot {
  min-height: 200px;
  width: 350px;
  padding-bottom: 20px;
  padding-left: 45px;
  }
  
  div.account#signup {
  min-height: 300px;
  width: 350px;
  padding-bottom: 25px;
  padding-top: 5px;
  padding-left: 45px;
  }
  
div.question {
  background: url('/images/question_final.png') no-repeat center;
  min-height: 66px;
}

div.rainbow {
  background: url('/images/rainbow_combo2.png') no-repeat 0 -175px;
  visibility: visible;
  overflow: hidden;
  position: relative;
  min-height: 166px;
  width: 330px;
  margin: auto;
}

div.figures {
  background: url('/images/figures.png') no-repeat top;
  visibility: hidden;
  min-height: 500px;
}


div.figure1 {
  background: url('/images/large_hexa_outline.png') no-repeat;
  visibility: hidden;

  }

div.figure2 {
  background: url('/images/medium_hexa_outline.png') no-repeat bottom;
  visibility: hidden;
}

div.figure3 {
  background: url('/images/large_hexa_outline.png') no-repeat bottom;
  visibility: hidden;
}

body, p, ol, ul, td {
 font-family: 'Corben', cursive;
  font-size:   14px;
  color: #292b2f;
  line-height: 1.5em;
}

h1 {
  color: #000000;
  font-size: 30px;
  text-align: center;
  visibility: visible;
  overflow: hidden;
  position: relative;
}

div.info {
   background: url('/images/text_head.png') no-repeat center;
   min-height: 50px;
   padding-top: 0px;
   margin-top: 0px;
}

div.main_content {
  text-align: center;
  visibility: visible;
  overflow: hidden;
  position: relative;
  margin: auto;
}

div.light_wide_block {
    background: rgba(203, 226, 219, 0.5);
    min-height: 100px;
    margin: 0px;
    padding: 0px;
}

div.gratitudes {
  text-align: left;
  overflow: hidden;
  position: relative;
  margin: auto;
  font-family: 'Cabin Sketch', cursive;
  float: right;
     display: inline-block;  
   vertical-align: middle; 
}

div.days {
  margin:auto;
  width: 65px;
  height: 70px;
  float: left;
  color: #B3B3B3;
  background: url('/images/light_hex.png') no-repeat;
  visibility: visible;
  font-size: 18px;
  position: relative;
  overflow: hidden;
}

div.day_counter {
  text-align: center;
  color: #c1a986;
  position: relative;
  overflow: hidden;
  padding-top: 15px;
}

div.line {
  background: url('/images/dotted_line.jpg') no-repeat;
  margin-top: 40px;
  margin-left: 47px;
  height: 50px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #FFFFFF; }
a:visited { color: #FFFFFF; }
a:hover { color: #fff; 
}


div.field, div.actions {
  margin-bottom: 10px;
  margin-top: 130px;
}

form input[type="text"] {
  font-size: 18px;
  width: 420px;
}

form input[type="text"]#user_name{
  font-size: 12px;
  width: 300px;
}

form input[type="password"]{
  font-size: 12px;
  width: 300px;
}

form input[type="email"]{
  font-size: 12px;
  width: 300px;
}

#notice {
  color: green;
}

.field_with_errors {
}

#error_explanation {
  width: 450px;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  position: relative;
  margin: auto;
  overflow: hidden;
}

#error_explanation ul {
  color: #ae3535;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 14px;
  margin: -7px;
  margin-bottom: 0px;
}

#error_explanation ul li {
  font-size: 14px;
  list-style: none;
}
