body {
  background-color: #fff;
  color: #333;
  background: url('/images/brown_bg_pyramid.png') repeat center;
  text-align: center;
}

div.dashboard {
  min-height: 800px;
  background: url('/images/dashboard4.png') no-repeat top;
  margin-top: -200px;
  }

div.rainbow {
  background: url('/images/rainbow1.png') no-repeat top;
  visibility: visible;
  margin: auto;
  overflow: hidden;
  min-height: 200px;
  position: relative;
  margin-left: -30px;
  /*margin-top: -50px;*/
}

div.figures {
  background: url('/images/figures.png') no-repeat top;
  visibility: hidden;
  min-height: 500px;
}


div.figure1 {
  background: url('/images/large_hexa.png') no-repeat;
  visibility: hidden;
  min-height: 300px;
  min-width: 300px;
  position-left: 600px;
  position-top: 700px;
  position: absolute;

  }

div.figure2 {
  background: url('/images/medium_hexa_outline.png') no-repeat bottom;
  visibility: hidden;
  margin-right: 0px;
}

div.figure3 {
  background: url('/images/large_hexa_outline.png') no-repeat bottom;
  visibility: hidden;
}

body, p, ol, ul, td {
  font-family: gill sans;
  font-size:   32px;
}

h1 {
  /*color: #0091CE;*/
  color: #000000;
 /* color:#CC9966;*/
  /*color: #c7cfb6;*/
  font-size: 32px;
 /* margin-top: 245px;*/
  text-align: center;
  visibility: visible;
  overflow: hidden;
  position: relative;
}

div.info {
   color: #FFFFFF;
   font-size: 18px;
   margin-top: -15px;
}
div.main_content {

  text-align: center;
  visibility: visible;
  overflow: hidden;
  position: relative;
}

div.day_counter {
  padding-top: 35px;
  padding-left: 18px;
  font-size: 18px;
}

div.main {
  visibility: visible;
  text-align: center;
  overflow: hidden;
  position: relative;
}

div.gratitudes {
  /*color: #000000;*/
  /*color: #B3B3B3;*/
  /*color: #764511;*/
  text-align: left;
  overflow: hidden;
  position: relative;
  margin: auto;
}

div.days {
  margin-left: -120px;
  margin-top: -130px;
  height:100px;
  color: #B3B3B3;
  text-indent: 10px;
  background: url('/images/circle.jpg') no-repeat;
  visibility: visible;
}

div.line {
  background: url('/images/dotted_line.jpg') no-repeat;
  margin-top: 40px;
  margin-left: 47px;
  height: 50px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #FFFFFF; }
a:visited { color: #FFFFFF; }
a:hover { color: #fff; background-color:#000; }

div.field, div.actions {
  margin-bottom: 10px;
  margin-top: 200px;
}

form input[type="text"] {
  font-size: 18px;
  width: 420px;
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}
