body {
  background-color: #fff;
  color: #333;
  background: url('/images/brown_bg_pyramid.png') repeat;
  text-align: center;
}

div.dashboard {
  min-height: 800px;
  background: url('/images/new_dash.png') no-repeat top;
  margin-top: -180px;
  }
  
  
div.account_dashboard {
  min-height: 800px;
  background: url('/images/blue_hexa.png') no-repeat top;
  }
  
div.question {
  background: url('/images/question.png') no-repeat center;
  min-height: 66px;
}

div.rainbow {
  background: url('/images/rainbow_combo2.png') no-repeat 0 -175px;
  visibility: visible;
  overflow: hidden;
  position: relative;
  min-height: 166px;
  width: 330px;
  margin: auto;
  margin-top: 10px;
}

div.figures {
  background: url('/images/figures.png') no-repeat top;
  visibility: hidden;
  min-height: 500px;
}


div.figure1 {
  background: url('/images/large_hexa_outline.png') no-repeat;
  visibility: hidden;

  }

div.figure2 {
  background: url('/images/medium_hexa_outline.png') no-repeat bottom;
  visibility: hidden;
}

div.figure3 {
  background: url('/images/large_hexa_outline.png') no-repeat bottom;
  visibility: hidden;
}

body, p, ol, ul, td {
  font-family: Rockwell, "Courier New", Courier, Georgia,
                 Times, "Times New Roman", serif;
  font-size:   30px;
  color: #292b2f;
}

h1 {
  /*color: #0091CE;*/
  color: #000000;
 /* color:#CC9966;*/
  /*color: #c7cfb6;*/
  font-size: 32px;
 /* margin-top: 245px;*/
  text-align: center;
  visibility: visible;
  overflow: hidden;
  position: relative;
}

div.info {
   color: #FFFFFF;
   font-size: 18px;
   margin-top: -15px;
}
div.main_content {

  text-align: center;
  visibility: visible;
  overflow: hidden;
  position: relative;
}

div.main {
  visibility: visible;
  text-align: center;
  overflow: hidden;
  position: relative;
}

div.gratitudes {
  /*color: #000000;*/
  /*color: #B3B3B3;*/
  /*color: #764511;*/
  text-align: left;
  overflow: hidden;
  position: relative;
  margin: auto;
}

div.days {
  margin:auto;
  width: 100px;
  padding-right: 200px;
  margin-top: -110px;
  color: #B3B3B3;
  /*background: url('/images/large_hexa_outline.png') no-repeat;*/
  visibility: visible;
  font-size: 18px;
}

div.day_counter {
  text-align: center;
  padding: 20px;
  color: #fff;
}

div.line {
  background: url('/images/dotted_line.jpg') no-repeat;
  margin-top: 40px;
  margin-left: 47px;
  height: 50px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #FFFFFF; }
a:visited { color: #FFFFFF; }
a:hover { color: #fff; 
/*background-color:#000;*/
}


div.field, div.actions {
  margin-bottom: 10px;
  margin-top: 200px;
}

form input[type="text"] {
  font-size: 18px;
  width: 420px;
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}
