<% if user_signed_in? %>
<%= form_for(@blessing) do |f| %>
  <% if @blessing.errors.any? %>
    <!--<div id="error_explanation">
      <ul>
      <% @blessing.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>-->   
  <% end %>
  <div class="field" >
    <div class="question"></div>
    <%= f.text_field :answer %>
  </div>
  <!--<div class="actions">
    <%= f.submit %>
  </div>-->

<% end %>
<% end %>