<% if user_signed_in? %>
<%= form_for(@blessing) do |f| %>
  <% if @blessing.errors.any? %>
    <!--<div id="error_explanation">
      <ul>
      <% @blessing.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>-->   
  <% end %>
  <div class="field" >
    <div class="question"></div>
    <%= f.text_field :answer %>
  </div>
  <!--<div class="actions">
    <%= f.submit %>
  </div>-->

<% end %>
<% else %>
<form action="/users/sign_in">
<div class="field">
  <div class="question"></div>
  <!--<div class="info"></div>-->
  <input size="30" type="text" />
</div>
<div>
<ul class="landing_menu">
  <li>Persimmons from the farmer's market</li>
  <li>My family</li>
  <li>Awesome red shoes from Fluwog</li>
</ul>
</div>
<br/>
<div style="margin: 0 auto; width: 300px;">
<div style="float:left; width: 100px;">
<a href="/users/sign_up"><img src="/images/sign-up.png" />
</div>
<div style="float: left; width: 100px;">
<a href="/users/sign_in"><img src="/images/login.png" />
</div>
<div style="width: 100px; float: right;">
<a href="/auth/facebook"><div class="fb-login-button" size="large">Connect</div></a>
</div>
</div>
</form>

<% end %>


