<% if user_signed_in? %>
<%= form_for(@blessing) do |f| %>
  <% if @blessing.errors.any? %>
    <!--<div id="error_explanation">
      <ul>
      <% @blessing.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>-->   
  <% end %>
  <div class="field" >
    <div class="question"></div>
    <%= f.text_field :answer %>
  </div>
  <!--<div class="actions">
    <%= f.submit %>
  </div>-->

<% end %>
<% else %>
<form action="/users/sign_in">
  
<div class="field">
  <div class="question"></div>
  <!--<div class="info"></div>-->
  <!--<input size="30" type="text" id="blessing_answer" name="blessing[answer]" />-->
</div>
<!--
<div class="grat_block">
  
<div class="text_block">
<ul class="gmenu" id="gratitudes">
  <li>Persimmons from the farmer's market</li>
  <li>My family</li>
  <li>Awesome red shoes from Fluwog</li>
</ul>
</div>

 <div class="hex"></div>
 
</div>

<div style="height: 40px;"></div>-->
<% if params[:name].nil? %>
<div class="entry">
<div style="float:left; width: 90px;">
<a href="/users/sign_up"><img src="/images/sign_up_gr.png" />
</div>
<div style="float: left; width: 90px;">
<a href="/users/sign_in"><img src="/images/login_gr.png" />
</div>
<div style="float: left; width: 10px; padding-left: 5px;">
<img src="/images/or.png" />
</div>
<div style="width: 100px; float: right; margin-top: 1px; padding-right: 15px; clear: right;">
<a href="/auth/facebook"><img src="/images/fb_connect.gif" alt="fb connect"></a>
<!--<div class="fb-login-button" size="large">Connect</div>-->
</div>
<div style="float: left; line-height: 1.5em; padding-top: 10px; text-align: left; font-family: 'Cabin Sketch', cursive;">
<p style="text-align: center; padding-bottom: 20px; font-family: 'Cabin Sketch', cursive;">Research shows that recording 3 gratitudes a day for 3 weeks will make you happier and healthier.
</p>
<p style="font-family: 'Cabin Sketch', cursive; padding-left: 5px; padding-bottom: 10px;">
  <b>Health: </b> According to leading <a href="http://psychology.ucdavis.edu/Labs/emmons/PWT/index.cfm?Section=4" target="_blank">gratitude</a>
and <a href="http://www.faculty.ucr.edu/~sonja/" target="_blank">happiness</a> researchers, keepinng a gratitude journal can result in better sleep and more energy, increasing overall well-being and health.
</p>
<p style="font-family: 'Cabin Sketch', cursive; padding-left: 5px; padding-bottom: 10px;">
<b>Happiness: </b>People who regularly practice grateful thinking can increase their set point of happiness by as much as 25 percent.
</p>

<p style="font-family: 'Cabin Sketch', cursive; padding-left: 5px;">
<b>Healing: </b>Record your daily gratitudes here and enjoy mandala-like grids inspired by a visionary artist who created them as instruments of healing.
</p>
</div>
</div>

<% end %>

</form>

<% end %>
  


