<div class="dashboard">
          
<div class="main_content">

<%= render 'form' %>


<% if @blessings %>
  
<% counter = 0 %>
<%   days = 0 %>

<div>
<% @blessings.each do |blessing| %>

<% if counter == 0 %>
<div class="grat_block">
<div class="text_block">
<ul id="gratitude" class="gmenu">

<% end %>

  <% counter += 1 %>
  <% days += 1 %>

  <li><%= blessing.answer %></li>
   
    
  <% if counter == 3 %>

  </ul>
</div>
<div class="hex"><%= days/3%></div>
</div>

 <% counter = 0 %>

    <% end %>
   
<% end %>

</div>

  <% end %>

      </div>

    </div>

