<!--<div class="info">
<a href="http://www.cfidsselfhelp.org/library/counting-your-blessings-how-gratitude-improves-your-health" target="_blank">Research</a>
shows that recording 3 gratitudes a day for 30 days can rewire your brain and make you happier...
</div>-->

<!--<div class="rainbow" id="rainbow"></div>-->

<div class="dashboard">
          
<div class="main_content">

<%= render 'form' %>

<% if user_signed_in? %>

<% if @blessings %>
  
<% counter = 0 %>
<%   days = 0 %>

<div>
<% @blessings.each do |blessing| %>

<% if counter == 0 %>
<div class="grat_block">
<div class="text_block">
<ul id="gratitude" class="gmenu">

<% end %>

  <% counter += 1 %>
  <% days += 1 %>

  <li style="line-height: 80%; padding-bottom: 10px;"><%= blessing.answer %></li>
   
    
  <% if counter == 3 %>

  </ul>
</div>
<div class="hex"></div>
</div>
<div style="height: 10px;"></div>
 <% counter = 0 %>

    <% end %>
   
<% end %>

</div>

  <% end %>
  <% end %>

      </div>

    </div>

